/*Machina Fashionista Stylesheet*/
  @import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700);
  body, html {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #E3C7C7;
    overflow: hidden;
    height: 100vh;
  }

  .ellipsis {
    position: absolute;
    color: #FFFF;
    font-size: 6rem;
    top: -2.5rem;
    left: 0.5em;
    background: none;
	  border: none;
	  padding: 0;
	  cursor: pointer;
  }

  .header {
    position: absolute;
    width: 296px;
    height: 86px;
    right: 70px;
    bottom: 70px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    line-height: 100%;
    /* or 43px */

    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.1em;

    color: #FFFFFF;
  }

  .icons {
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 50px;
    height: 50px;
    transform: skew(50deg);
    margin-top: 15px;
  }

  .hat {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M47.2855 26.5969C45.6807 25.6136 43.9427 24.8663 42.125 24.3782C40.6981 23.9394 39.2452 23.5903 37.7747 23.333C37.7426 23.3314 37.7104 23.332 37.6784 23.3348L37.0133 15.9188C36.942 15.0079 36.6205 14.1343 36.0841 13.3947C35.5477 12.655 34.8174 12.0779 33.9737 11.7272C33.1471 11.3692 32.2378 11.2462 31.3458 11.372C30.4538 11.4977 29.6139 11.8672 28.9185 12.4397L27.1393 13.8779C26.5357 14.3718 25.7798 14.6415 24.9999 14.6414C24.22 14.6413 23.4642 14.3712 22.8607 13.8771L21.0816 12.4405C20.3867 11.867 19.5467 11.4968 18.6545 11.3709C17.7624 11.245 16.8528 11.3683 16.0263 11.7272C15.1826 12.0779 14.4523 12.655 13.9159 13.3947C13.3795 14.1343 13.058 15.0078 12.9867 15.9188L12.3217 23.3349C12.2896 23.3321 12.2574 23.3314 12.2253 23.333C10.7605 23.589 9.31318 23.9366 7.89183 24.3736C6.07171 24.861 4.33117 25.6077 2.72367 26.5907C1.9751 26.9422 1.33057 27.4819 0.853147 28.1571C0.375722 28.8323 0.0817529 29.6199 0 30.4428C0 35.788 12.8799 38.6719 25 38.6719C37.1201 38.6719 50 35.788 50 30.4428C49.919 29.6217 49.6263 28.8356 49.1505 28.1615C48.6747 27.4873 48.0321 26.9482 47.2855 26.5969ZM14.5432 16.0576C14.6157 15.1967 15.0079 14.3942 15.6424 13.808C16.277 13.2217 17.108 12.8942 17.9719 12.8899C18.748 12.8925 19.4994 13.1631 20.099 13.6559L21.8781 15.0925C22.759 15.813 23.8619 16.2068 24.9999 16.2069C26.138 16.2071 27.241 15.8136 28.122 15.0932L29.9012 13.6551C30.3773 13.2628 30.9525 13.0094 31.5634 12.923C32.1742 12.8366 32.7971 12.9204 33.3634 13.1653C33.9451 13.4075 34.4484 13.8059 34.8179 14.3163C35.1874 14.8267 35.4085 15.4293 35.4569 16.0576L36.31 25.5705C28.8146 26.7296 21.1856 26.7296 13.6902 25.5705L14.5432 16.0576ZM13.5487 27.1464C21.1388 28.3073 28.8612 28.3073 36.4512 27.1464L36.5753 28.5301C36.5908 28.7021 36.5728 28.8755 36.5224 29.0407C36.4249 29.3402 36.2286 29.5976 35.9655 29.7707C35.9462 29.7836 35.9336 29.8042 35.9136 29.8161C35.8573 29.8409 35.7995 29.8618 35.7405 29.8788C35.6405 29.9296 35.5343 29.9675 35.4247 29.9914C35.3394 30.0046 35.2482 30.0131 35.1622 30.0258C31.7963 30.5052 28.3999 30.7392 25 30.7259C22.4073 30.7306 19.8162 30.5985 17.2375 30.3301C17.1705 30.3229 17.0996 30.319 17.0328 30.3117C16.987 30.3067 16.9442 30.2994 16.8985 30.2942C16.1117 30.2057 15.3389 30.106 14.5874 29.9904C14.3488 29.9513 14.1246 29.8505 13.9371 29.6979C13.7496 29.5454 13.6053 29.3464 13.5185 29.1207C13.4424 28.9336 13.4103 28.7316 13.4247 28.5301L13.5487 27.1464ZM25 37.1094C11.1877 37.1094 1.5625 33.596 1.5625 30.4428C1.5625 29.3923 2.64741 28.4866 3.56598 27.906C5.05353 27.0022 6.6629 26.3163 8.34503 25.869C9.60324 25.484 10.883 25.1734 12.1777 24.9389L12.0465 26.4029L11.8577 28.4057C11.8384 28.7135 11.8686 29.0223 11.947 29.3205C12.0807 29.8861 12.3799 30.3989 12.8065 30.7936C13.233 31.1883 13.7676 31.4468 14.3418 31.5361C15.0436 31.6429 15.766 31.7326 16.4946 31.8167C19.3183 32.1376 22.1582 32.295 25 32.2884C28.5713 32.3071 32.1388 32.0551 35.672 31.5346C35.8372 31.5072 35.9998 31.4654 36.1577 31.4096C36.1742 31.4041 36.1925 31.4023 36.2088 31.3964C36.2779 31.3714 36.3397 31.3336 36.4061 31.3035C36.9525 31.0459 37.4095 30.631 37.7186 30.112C38.0276 29.593 38.1747 28.9936 38.1409 28.3904L37.9537 26.405L37.8222 24.9388C39.1226 25.1747 40.408 25.4868 41.6717 25.8735C43.3515 26.3215 44.9583 27.008 46.4432 27.9121C47.3526 28.4866 48.4375 29.3922 48.4375 30.4428C48.4375 33.596 38.8122 37.1094 25 37.1094Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='50' height='50' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  }

  .shirt {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 51 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.6389 4.82609C22.4397 4.09953 19.4358 5.41125 19.4358 5.41125L17.7389 6.99484L12.9545 9.26437C12.9545 9.26437 11.6904 9.72844 9.78888 12.2198L5.22638 19.1034L11.1381 24.0862L13.167 21.9339C13.167 21.9339 13.5037 28.7745 13.5037 43.8933C13.5037 43.8933 18.7967 44.53 23.7943 44.4456H24.0201C29.0186 44.53 34.3108 43.8933 34.3108 43.8933C34.3108 28.7737 34.6498 21.9339 34.6498 21.9339L36.6764 24.0862L42.5904 19.1034L38.0264 12.2198C36.1248 9.72844 34.8608 9.26437 34.8608 9.26437L29.5717 6.52609L27.6389 4.82609V4.82609Z' stroke='black' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.3912 16.2782C12.3912 16.2782 12.4053 17.9805 13.167 21.9321' stroke='black' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M35.4475 16.2782C35.4475 16.2782 35.4334 17.9805 34.674 21.9321' stroke='black' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M23.11 11.8962C23.11 11.8962 23.3803 10.3587 24.7342 9.87039C24.178 12.8634 24.7342 21.2595 24.7342 21.2595C24.0498 22.0016 23.0787 21.9032 23.0787 21.9032V12.1938L23.11 11.8962Z' stroke='black' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M24.9186 9.72587C26.1076 9.23759 28.5123 6.4243 27.6389 4.82587L29.5733 6.52509C29.5733 6.52509 29.8647 10.9266 27.8123 12.9759C27.8123 12.9759 26.9842 12.8337 26.642 10.7493C26.642 10.7501 25.6319 9.4329 24.9186 9.72587V9.72587Z' stroke='black' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M22.5404 9.57197C21.1029 8.13525 19.1154 12.6173 19.1154 12.6173C17.5053 9.92353 17.7381 6.99384 17.7381 6.99384L19.435 5.41025C19.435 5.41025 19.9053 7.52118 21.7787 9.04306C21.7787 9.04384 22.2482 9.27822 22.5404 9.57197V9.57197Z' stroke='black' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M27.6389 4.82609C28.5115 6.42453 26.1076 9.23781 24.9186 9.72609C23.6787 10.2527 23.11 11.8964 23.11 11.8964L23.0787 12.098L23.1397 11.2433C23.2912 9.87062 22.4412 9.48078 22.4412 9.48078L22.5404 9.57219C22.2482 9.27922 21.7787 9.04406 21.7787 9.04406C19.9053 7.52141 19.435 5.41125 19.435 5.41125C19.435 5.41125 22.4397 4.09953 27.6389 4.82609V4.82609Z' stroke='black' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M27.6069 6.64227C27.86 5.98915 27.9233 5.34305 27.6389 4.82509C22.4397 4.09852 19.4358 5.41024 19.4358 5.41024C19.4358 5.41024 19.5842 6.0829 20.0529 6.94306C20.0529 6.94384 22.9311 5.96649 27.6069 6.64227V6.64227Z' stroke='black' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  }

  .pants {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.37769 3.12161C8.52557 3.12161 7.81364 3.79539 7.81364 4.68414V9.37326C7.81364 9.89817 8.08482 10.3674 8.49114 10.652L3.13672 40.4865C3.08918 40.7509 3.18081 41.0212 3.37936 41.2022C3.37936 41.2022 5.89511 43.4586 11.4758 45.2733C17.0664 47.0913 21.1364 46.8709 21.1364 46.8709C21.4812 46.8512 21.7723 46.6074 21.852 46.2713L25 33.0645L28.1433 46.2713C28.2237 46.6095 28.5179 46.8539 28.8651 46.8709C28.8651 46.8709 32.9335 47.0913 38.5241 45.2733C44.1048 43.4586 46.6221 41.2022 46.6221 41.2022C46.82 41.0209 46.9111 40.7507 46.8632 40.4865L41.5088 10.652C41.9151 10.3674 42.1863 9.8982 42.1863 9.37326V4.68414C42.1863 3.80612 41.4759 3.12161 40.6237 3.12161H9.37769ZM9.37769 4.68414H11.7184V9.37326H9.37769V4.68414ZM13.281 4.68414H14.0592V9.37326H13.281V4.68414ZM15.6232 4.68414H34.3782V9.37326H15.6232V4.68414ZM35.9346 4.68414H36.7189V9.37326H35.9346V4.68414ZM38.283 4.68414H40.6237V9.37326H38.283V4.68414ZM23.4374 6.25125C23.3348 6.25125 23.2332 6.27146 23.1384 6.31072C23.0437 6.34998 22.9575 6.40753 22.885 6.48008C22.8124 6.55262 22.7549 6.63875 22.7156 6.73354C22.6764 6.82833 22.6561 6.92992 22.6561 7.03252C22.6561 7.13511 22.6764 7.23671 22.7156 7.3315C22.7549 7.42628 22.8124 7.51241 22.885 7.58495C22.9575 7.6575 23.0437 7.71505 23.1384 7.75431C23.2332 7.79357 23.3348 7.81378 23.4374 7.81378C23.6446 7.81378 23.8433 7.73147 23.9899 7.58495C24.1364 7.43844 24.2187 7.23972 24.2187 7.03252C24.2187 6.92992 24.1985 6.82833 24.1592 6.73354C24.1199 6.63875 24.0624 6.55263 23.9899 6.48008C23.9173 6.40753 23.8312 6.34998 23.7364 6.31072C23.6416 6.27146 23.54 6.25125 23.4374 6.25125ZM26.5625 6.25125C26.4599 6.25125 26.3583 6.27146 26.2635 6.31072C26.1687 6.34998 26.0826 6.40753 26.01 6.48008C25.9375 6.55263 25.8799 6.63875 25.8407 6.73354C25.8014 6.82833 25.7812 6.92992 25.7812 7.03252C25.7812 7.23972 25.8635 7.43844 26.01 7.58495C26.1566 7.73147 26.3553 7.81378 26.5625 7.81378C26.7697 7.81378 26.9684 7.73147 27.1149 7.58495C27.2614 7.43844 27.3437 7.23972 27.3437 7.03252C27.3437 6.92992 27.3235 6.82833 27.2843 6.73354C27.245 6.63875 27.1875 6.55263 27.1149 6.48008C27.0424 6.40753 26.9562 6.34998 26.8615 6.31072C26.7667 6.27146 26.6651 6.25125 26.5625 6.25125ZM10.0293 10.9358H13.281H15.5103C15.6417 11.4459 15.7087 11.9705 15.7087 12.4983C15.7087 15.9594 12.9181 18.75 9.45704 18.75C9.1824 18.75 8.90946 18.7263 8.63763 18.6889L10.0293 10.9358ZM17.1125 10.9358H32.9728C32.8688 11.4497 32.8156 11.9717 32.8156 12.4983C32.8156 16.8039 36.3182 20.3125 40.6237 20.3125C40.9641 20.3125 41.3038 20.2853 41.6415 20.2408L45.2442 40.3019C44.9269 40.5125 43.0642 42.1038 38.0404 43.7855C33.0415 45.3418 29.9406 45.2988 29.541 45.3252L25.7614 29.5061C25.5753 28.698 24.4245 28.698 24.2385 29.5061L20.4771 45.313C20.0298 45.3053 17.0347 45.3524 11.961 43.7855C6.86268 42.0687 4.92833 40.4396 4.75723 40.2989L8.36143 20.2255C8.72439 20.2777 9.08902 20.3125 9.45703 20.3125C13.7626 20.3125 17.2727 16.8039 17.2727 12.4983C17.2727 11.9718 17.2181 11.4496 17.1125 10.9358L17.1125 10.9358ZM34.5765 10.9358H39.9722L41.3668 18.7027C41.1202 18.7334 40.8725 18.75 40.6237 18.75C37.1626 18.75 34.3782 15.9594 34.3782 12.4983C34.3782 11.9705 34.4452 11.4459 34.5766 10.9358L34.5765 10.9358ZM26.5518 11.7033C26.1179 11.7075 25.7706 12.0645 25.7782 12.4983V24.7865C25.7008 24.9043 25.1513 25.7737 24.2156 25.7798C23.1729 25.7866 23.1729 27.3439 24.2156 27.3439C26.299 27.3439 27.2613 25.348 27.2613 25.348C27.3155 25.2385 27.3432 25.1177 27.3422 24.9955V12.4983C27.3499 12.0579 26.9923 11.6981 26.5518 11.7033Z' fill='black'/%3E%3C/svg%3E%0A");
  }

  .watch {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M38.2807 25C38.2807 23.2568 37.9355 21.5309 37.2651 19.9219C36.5946 18.3128 35.6122 16.8524 34.3745 15.625C34.1671 15.4148 33.948 15.2166 33.7182 15.0313V9.375C33.7182 9.1678 33.6359 8.96909 33.4894 8.82258C33.3429 8.67606 33.1442 8.59375 32.937 8.59375H31.562V6.25C31.562 6.0428 31.4797 5.84409 31.3331 5.69758C31.1866 5.55106 30.9879 5.46875 30.7807 5.46875H29.687V3.125C29.687 2.9178 29.6047 2.71909 29.4581 2.57258C29.3116 2.42606 29.1129 2.34375 28.9057 2.34375H21.1401C21.0336 2.33735 20.927 2.35282 20.8267 2.38921C20.7264 2.4256 20.6347 2.48213 20.5571 2.55532C20.4795 2.62851 20.4177 2.71682 20.3756 2.81479C20.3334 2.91277 20.3118 3.01834 20.312 3.125V5.46875H19.2182C19.011 5.46875 18.8123 5.55106 18.6658 5.69758C18.5193 5.84409 18.437 6.0428 18.437 6.25V8.59375H17.0463C16.8391 8.59375 16.6404 8.67606 16.4939 8.82258C16.3474 8.96909 16.2651 9.1678 16.2651 9.375V15.0156C16.0402 15.2065 15.8263 15.4099 15.6245 15.625C14.3368 16.9092 13.3274 18.4447 12.6589 20.1358C11.9903 21.827 11.6771 23.6377 11.7387 25.4552C11.8002 27.2727 12.2353 29.0581 13.0167 30.7002C13.7981 32.3422 14.9092 33.8059 16.2807 35V40.625C16.2807 40.8322 16.363 41.0309 16.5095 41.1774C16.656 41.3239 16.8548 41.4063 17.062 41.4063H18.4526V43.75C18.4526 43.9572 18.5349 44.1559 18.6814 44.3024C18.8279 44.4489 19.0266 44.5313 19.2338 44.5313H20.312V46.875C20.312 47.0822 20.3943 47.2809 20.5408 47.4274C20.6873 47.5739 20.886 47.6563 21.0932 47.6563H28.812C28.9221 47.6696 29.0339 47.6593 29.1398 47.626C29.2457 47.5928 29.3433 47.5373 29.4261 47.4634C29.5088 47.3895 29.5749 47.2988 29.6199 47.1973C29.6649 47.0959 29.6878 46.986 29.687 46.875V44.5313H30.8276C31.0348 44.5313 31.2335 44.4489 31.38 44.3024C31.5265 44.1559 31.6088 43.9572 31.6088 43.75V41.4063H32.9995C33.2067 41.4063 33.4054 41.3239 33.5519 41.1774C33.6984 41.0309 33.7807 40.8322 33.7807 40.625V34.9844C33.9896 34.7922 34.1878 34.5888 34.3745 34.375C35.6122 33.1476 36.5946 31.6872 37.2651 30.0781C37.9355 28.4691 38.2807 26.7432 38.2807 25ZM21.8745 3.90625H28.1245V5.46875H21.8745V3.90625ZM19.9526 7.03125H29.9526V8.59375H19.9995L19.9526 7.03125ZM17.7807 10.1563H32.1245V13.8281C31.7963 13.6094 31.4526 13.4219 31.1088 13.2344C30.4478 12.8838 29.7578 12.5911 29.0463 12.3594C26.3848 11.5003 23.5204 11.5003 20.8588 12.3594C20.1513 12.5882 19.4662 12.881 18.812 13.2344C18.4578 13.4136 18.1136 13.6119 17.7807 13.8281V10.1563ZM13.2807 25C13.2786 21.8906 14.5091 18.907 16.7026 16.7031L17.5463 15.9531C18.1819 15.4377 18.8676 14.9875 19.5932 14.6094C20.1618 14.3033 20.7582 14.0522 21.3745 13.8594C23.7305 13.0941 26.2684 13.0941 28.6245 13.8594C29.2445 14.0555 29.8459 14.3065 30.4213 14.6094C31.1464 14.9946 31.8319 15.4499 32.4682 15.9688L33.2963 16.7031C35.489 18.9077 36.7198 21.8907 36.7198 25C36.7198 28.1093 35.489 31.0923 33.2963 33.2969L32.4526 34.0469C31.8209 34.5675 31.1346 35.0181 30.4057 35.3906C29.8372 35.6967 29.2407 35.9478 28.6245 36.1406C26.2684 36.9059 23.7305 36.9059 21.3745 36.1406C20.7544 35.9445 20.1531 35.6935 19.5776 35.3906C18.8518 35.0148 18.1705 34.5588 17.5463 34.0313C16.208 32.9382 15.1306 31.5602 14.3926 29.9978C13.6547 28.4354 13.2748 26.7279 13.2807 25ZM28.1245 46.0938H21.8745V44.5313H28.1245V46.0938ZM30.0463 42.9688H19.9995V41.4063H29.9995L30.0463 42.9688ZM32.2182 39.8438H17.8276V36.1719C18.1557 36.3906 18.4995 36.5781 18.8432 36.7656C19.5042 37.1162 20.1943 37.4089 20.9057 37.6406C23.5681 38.4944 26.4308 38.4944 29.0932 37.6406C29.8007 37.4118 30.4858 37.119 31.1401 36.7656C31.4942 36.5864 31.8385 36.3882 32.1713 36.1719L32.2182 39.8438Z' fill='black'/%3E%3Cpath d='M18.5307 32.8125C19.0731 33.2686 19.6654 33.6618 20.2963 33.9844C20.7984 34.2453 21.321 34.4647 21.8588 34.6407C22.8679 34.9698 23.9224 35.1386 24.9838 35.1407C26.045 35.1358 27.0991 34.9671 28.1088 34.6407C28.6458 34.4626 29.1682 34.2432 29.6713 33.9844C30.3077 33.6628 30.9053 33.2696 31.4526 32.8125C31.7084 32.6065 31.9536 32.3875 32.1869 32.1563C34.0876 30.2471 35.1547 27.6628 35.1547 24.9688C35.1547 22.2748 34.0876 19.6905 32.1869 17.7813C31.9592 17.5548 31.7193 17.341 31.4682 17.1406C30.9194 16.6945 30.3218 16.3118 29.6869 16C29.1848 15.7392 28.6623 15.5197 28.1244 15.3438C26.0922 14.691 23.9067 14.691 21.8744 15.3438C21.3374 15.5218 20.815 15.7412 20.3119 16C19.6872 16.3188 19.1002 16.7066 18.5619 17.1563C18.3061 17.3623 18.061 17.5813 17.8276 17.8125C16.8306 18.8134 16.053 20.0109 15.5444 21.3289C15.0357 22.6469 14.8072 24.0563 14.8734 25.4675C14.9395 26.8786 15.2989 28.2605 15.9286 29.5251C16.5582 30.7897 17.4444 31.9093 18.5307 32.8125ZM18.9213 18.9063C19.1134 18.712 19.3169 18.5294 19.5307 18.3594C20.0141 17.971 20.538 17.6357 21.0932 17.3594C21.5129 17.137 21.9522 16.9539 22.4057 16.8125C24.1319 16.2504 25.992 16.2504 27.7182 16.8125C28.1746 16.9523 28.6147 17.1409 29.0307 17.375C29.5886 17.6402 30.1131 17.9707 30.5932 18.3594C30.807 18.5294 31.0105 18.712 31.2026 18.9063C32.001 19.7043 32.6344 20.6519 33.0665 21.6948C33.4986 22.7377 33.7211 23.8555 33.7211 24.9844C33.7211 26.1133 33.4986 27.2311 33.0665 28.274C32.6344 29.3169 32.001 30.2645 31.2026 31.0625C31.0105 31.2568 30.807 31.4394 30.5932 31.6094C30.1098 31.9978 29.5859 32.3331 29.0307 32.6094C28.611 32.8318 28.1717 33.0149 27.7182 33.1563C25.992 33.7184 24.1319 33.7184 22.4057 33.1563C21.9493 33.0165 21.5092 32.8279 21.0932 32.5938C20.5353 32.3286 20.0108 31.9981 19.5307 31.6094C18.6071 30.8473 17.853 29.9006 17.3167 28.8301C16.7803 27.7595 16.4736 26.5887 16.4163 25.3926C16.3589 24.1966 16.5521 23.0018 16.9835 21.8848C17.4149 20.7678 18.0749 19.7533 18.9213 18.9063Z' fill='black'/%3E%3Cpath d='M28.4682 29.5782C28.6173 29.7277 28.8196 29.812 29.0307 29.8125C29.1329 29.8119 29.2339 29.7909 29.3278 29.7506C29.4218 29.7104 29.5067 29.6517 29.5776 29.5782C29.6508 29.5055 29.7089 29.4191 29.7486 29.3239C29.7883 29.2287 29.8087 29.1266 29.8087 29.0235C29.8087 28.9203 29.7883 28.8182 29.7486 28.723C29.7089 28.6278 29.6508 28.5414 29.5776 28.4688L25.7807 24.6719V21.1407C25.7807 20.9335 25.6984 20.7347 25.5519 20.5882C25.4054 20.4417 25.2067 20.3594 24.9995 20.3594C24.7923 20.3594 24.5935 20.4417 24.447 20.5882C24.3005 20.7347 24.2182 20.9335 24.2182 21.1407V25C24.217 25.1025 24.2372 25.2041 24.2775 25.2983C24.3179 25.3925 24.3775 25.4771 24.4526 25.5469L28.4682 29.5782Z' fill='black'/%3E%3C/svg%3E%0A");
  }

  .shoe {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M46.6792 26.7969C46.1558 25.2344 44.8433 24.0235 42.8198 23.336L24.3276 15.6719L20.5386 14.1094C20.4226 14.0613 20.2967 14.0419 20.1716 14.0527C20.0464 14.0636 19.9258 14.1045 19.8198 14.1719C19.7152 14.2388 19.628 14.3297 19.5655 14.4371C19.503 14.5444 19.467 14.6651 19.4605 14.7891C19.3433 17.0079 16.9136 19.1797 13.9292 19.7344C12.3667 20.0313 8.46046 20.2032 6.34327 15.5391C6.27298 15.3731 6.14746 15.2366 5.98799 15.1526C5.82852 15.0686 5.64491 15.0423 5.46827 15.0782C5.29733 15.105 5.14014 15.1879 5.02136 15.3137C4.90259 15.4396 4.82896 15.6013 4.81202 15.7735C4.62452 17.711 4.32765 19.6797 4.03077 21.5313C3.24952 26.5313 2.57765 30.8438 4.27296 33.4532C4.34446 33.5617 4.44192 33.6508 4.55651 33.7122C4.67111 33.7735 4.79921 33.8054 4.92921 33.8047H44.5308C44.656 33.8054 44.7796 33.776 44.8911 33.7188C45.0026 33.6617 45.0987 33.5787 45.1714 33.4766C45.312 33.3282 47.6558 29.8751 46.6792 26.7969ZM44.1089 32.2657H5.4214C5.14305 31.664 4.96871 31.0194 4.90577 30.3594H45.0073C44.7722 31.0158 44.4712 31.6466 44.1089 32.2422V32.2657ZM4.82765 28.7735C4.92429 26.4144 5.18534 24.065 5.6089 21.7422C5.78858 20.586 5.96827 19.3985 6.13233 18.211C7.04214 19.4455 8.28947 20.3907 9.72409 20.9327C11.1587 21.4747 12.7194 21.5903 14.2183 21.2657C17.4917 20.6563 20.148 18.4532 20.8433 15.9219L22.9917 16.8126L21.8745 19.5313C21.7939 19.7219 21.7922 19.9368 21.8698 20.1287C21.9474 20.3206 22.0981 20.4738 22.2886 20.5547C22.3854 20.5941 22.4887 20.6153 22.5933 20.6172C22.7466 20.6171 22.8965 20.5719 23.0244 20.4871C23.1522 20.4024 23.2522 20.2819 23.312 20.1407L24.4761 17.4141L26.0386 18.0626L24.7886 20.9922C24.7079 21.1829 24.7062 21.3977 24.7839 21.5896C24.8615 21.7815 25.0121 21.9347 25.2026 22.0157C25.2978 22.0612 25.4018 22.0852 25.5073 22.086C25.6607 22.0859 25.8106 22.0406 25.9384 21.9559C26.0662 21.8711 26.1663 21.7506 26.2261 21.6094L27.4839 18.6641L29.0464 19.3126L27.7026 22.4376C27.6592 22.5337 27.6358 22.6376 27.6336 22.743C27.6314 22.8485 27.6506 22.9533 27.69 23.0511C27.7295 23.1489 27.7883 23.2377 27.863 23.3122C27.9376 23.3867 28.0266 23.4453 28.1245 23.4844C28.2202 23.5275 28.3243 23.5488 28.4292 23.5469C28.5826 23.5468 28.7325 23.5015 28.8603 23.4168C28.9881 23.3321 29.0882 23.2116 29.148 23.0704L30.4917 19.9454L32.0542 20.6016L30.6323 23.9532C30.591 24.0475 30.5686 24.1491 30.5667 24.2521C30.5647 24.3551 30.5832 24.4575 30.6209 24.5533C30.6587 24.6492 30.715 24.7366 30.7867 24.8106C30.8584 24.8846 30.944 24.9437 31.0386 24.9844C31.1354 25.0238 31.2387 25.045 31.3433 25.0469C31.4966 25.0468 31.6465 25.0015 31.7744 24.9168C31.9022 24.8321 32.0022 24.7116 32.062 24.5704L33.4995 21.1954L42.2651 24.7969C43.8276 25.336 44.8276 26.1641 45.187 27.2813C45.335 27.7639 45.3881 28.2707 45.3433 28.7735H4.82765Z' fill='black'/%3E%3C/svg%3E%0A");
  }

  .json {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    transform-origin: center top;
    transform: skew(-50deg);
    margin-left: 300px;
    height: 100vh;
  }

  .jsonItems {
    width: 100%;
  }

  form {
    position: absolute;
    bottom: 20vh;
    right: 5vh;
  }

  .buttons{
    display: inline-block;
    position: relative;
  }

  .shuffle-ico {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='150' height='150' viewBox='0 0 150 150' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M56.9367 62.5945L60.2508 59.2805L36.1266 35.1562H0V39.8438H34.1859L56.9367 62.5945Z' fill='black'/%3E%3Cpath d='M129.593 22.7508L141.998 35.1563H109.186L34.1859 110.156H0V114.844H36.1266L111.127 39.8438H141.998L129.593 52.2492L133.252 55.5633L150 39.157V35.843L133.252 19.4367L129.593 22.7508Z' fill='black'/%3E%3Cpath d='M129.593 97.7508L141.998 110.156H111.127L88.3758 87.4055L85.0617 90.7196L109.186 114.844H141.998L129.593 127.249L133.252 130.563L150 114.157V110.843L133.252 94.4367L129.593 97.7508Z' fill='black'/%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .play-ico {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='150' height='150' viewBox='0 0 150 150' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.75 18.75L131.25 75L18.75 131.25V18.75Z' fill='black'/%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .newBtn {
    border:none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 150px;
    height: 150px;
    cursor: pointer;
  }

  .sbtBtn {
    margin-left: 3px;
    border:none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 150px;
    height: 150px;
    cursor: pointer;
  }

/*Loader animation*/
  .loader {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-right: 50%;
    position: relative;
    left: 45vh;
    color: #FFF;
    transform: skew(50deg);
    box-sizing: border-box;
    animation: animloader 1s linear infinite alternate;
  }

  @keyframes animloader {
    0% {
      box-shadow: -38px -12px ,  -14px 0,  14px 0, 38px 0;
    }
    33% {
      box-shadow: -38px 0px, -14px -12px,  14px 0, 38px 0;
    }
    66% {
      box-shadow: -38px 0px , -14px 0, 14px -12px, 38px 0;
    }
    100% {
      box-shadow: -38px 0 , -14px 0, 14px 0 , 38px -12px;
    }
  }
/*
  @media screen and (max-width: 600px) {
    .hat {
      margin-top: 17vh;
    }
    .shirt {
      margin-top: 30vh;
    }
    .pants {
      margin-top: 43vh;
    }
    .watch {
      margin-top: 56vh;
    }
    .shoe {
      margin-top: 69vh;
    }
  }
*/
  @media screen and (max-width: 767px) {
    .ellipsis {
      left: 0.3em;
    }
    .icons {
      width: 25px;
      height: 25px;
    }
    .hat {
      margin-top: 23vh;
    }
    .shirt {
      margin-top: 37vh;
    }
    .pants {
      margin-top: 51vh;
    }
    .watch {
      margin-top: 65vh;
    }
    .shoe {
      margin-top: 79vh;
    }
    form {
      bottom: 12vh;
      right: 2vh;
      width: 100px;
    }
    .sbtBtn {
      width: 100px;
      height: 85px;
      bottom: 80px;
      right: 5%;
      left: auto;
    }
    .newBtn {
      width: 100px;
      height: 85px;
      bottom: 80px;
      right: 5%;
      left: auto;
    }
    .header {
      font-size: 2rem;
      margin-right: 10px;
      bottom: 2%;
      right: 2%;
    }
    .json {
      transform: skew(-50deg);
      margin-left: 13rem;
    }
    .jsonItems {
      padding: 7vh;
      padding-bottom: 0;
      padding-top: 0;
    }
  }
